@import 'tailwindcss';

body {
  min-height: 100vh;
  margin: 0;
  background:
    radial-gradient(circle at top left, #4f46e5 0%, #8b5cf6 100%),
    radial-gradient(circle at top right, #8b5cf6 0%, #4f46e5 100%),
    radial-gradient(circle at bottom left, #8b5cf6 0%, #4f46e5 100%),
    radial-gradient(circle at bottom right, #4f46e5 0%, #8b5cf6 100%);
  background-blend-mode: screen;
  background-size: cover;
}
